html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0 0 0 0;
}

div.whole {
    box-sizing: border-box;
    height: 100%;
    display: flex;
}

div.toc {
    height: 100%;
    width: 30%;
    overflow: auto;
    resize: horizontal;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

div.contents {
    top: 0;
    height: 100%;
    flex: 1;
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    padding-left: 10px;
}

div.toc ul {
    padding: 0em 0 0.3em 1em;
    margin: 0;
}

div.toc ul ul {
    padding: 0.5em 0 0.5em 2em;
    margin: 0;
}

div.toc li {
    line-height: 1.4em;
    padding: 0 0 0 0;
    list-style-type: square;
    white-space: nowrap;
    margin: 0;
}
